<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.category %></li>
</ul>
<%= link_to 'review', reviews_path %>
<%= link_to "Back to index", restaurants_path %>
